<table class="pdf__form-element">
    <tr>
        <td class="pdf__label">
            <%= label %>
        </td>
        <td class="pdf__value">
            <%= value %>
        </td>
    </tr>
</table>