<!DOCTYPE html>
<html>
  <head>
    <title>MediblockId</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= wicked_pdf_stylesheet_link_tag 'pdf'%>
  </head>

  <body class="pdf">
    <h1>MediBlock ID Form Data</h1>
    <%= yield %>
  </body>
</html>
